.ex-1-square{
  transition: all 2s ease-out;
}

.ex-1-square:hover{
  background-color: red;
  animation: normal;
}

























































































