/* * N. 1 */
.ex-1-square{
  transition: all 2s ease-out;

  /* invece nella soluzione c'era: */
  /* transition: 2s; */

}

.ex-1-square:hover{
  background-color: red;
}

/** N. 2 */
.ex-2-square{

  /* invece nella soluzione c'era: */
  /* transition: 2s; */

  transition: all 2s ease;

}


.ex-2-square:active {
  width: 100%;

}


/** N. 3 */
.ex-3-square{

  /* invece nella soluzione c'era: */
  /* transition: 1s; */

  transition: all 0.5s linear;
}


.ex-3-square:hover {
  border-radius: 50px;
}

/** N. 4 */
.ex-4-square{

  /* invece nella soluzione c'era: */
  /* transition: 1s; */

  transition: all 1s ease-in;
}


.ex-4-square:hover {
  background-color: #F5F5F5;

  /* invece nella soluzione c'era: */
  /* opacity: 0; */

}

/** N. 5 */
.ex-5-square{

  /* invece nella soluzione c'era: */
  /* transition: 1s; */

  transition: all 1s ease-out;
}


.ex-5-square:hover {
  transform: scale(2);
  
}

.ex-5-square:active {
  transform: scale(0.5);

  /* invece nella soluzione c'era: */
  /*   transform: scale(.5); */


}

/** N. 6 */
.ex-6-img{

}

.ex-6-img:hover {
  filter: grayscale(100%);

  /* invece nella soluzione c'era: */
  /*   filter: grayscale(1); */


}

/** N. 7 */
.ex-7-img{

  transition: all 1s ease-out;

  /* invece nella soluzione c'era: */
  /* transition: 2s; */
}


.ex-7-img:hover {
  filter: grayscale(.6) sepia(.5);

}

/** N. 8 */
.ex-8-img{
  transition: all 1s ease-out;

  /* invece nella soluzione c'era: */
  /* transition: 2s; */
}


.ex-8-img:hover {
  filter: grayscale(.6s) sepia(.5);
  border-radius: 20px;
}

/** N. 9 */
.ex-9-img{
  
  transition: all 2s ease-out;

  /* invece nella soluzione c'era: */
  /* transition: 2s; */
}


.ex-9-img:hover {
  transform: scale(1.5);
  filter: grayscale(.6) sepia(.5);
  border-radius: 20px;
  
}

/* * N. 10 */
.ex-10-icon{
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }

/* @keyframes rotation {
  0% {
      transform: rotate(1turn);
  } */

}

/* * N. 11 */
.ex-11-icon{
}
.ex-11-icon:hover{
  animation: rotation_1 2s linear ;

}

@keyframes rotation_1 {
  0%{
    transform: rotate(0deg);
  }
  90%{
    transform: rotate(359deg);
    /* invece nella soluzione c'era: */
    /* transform: rotate(315deg); */
  }
  100%{
    transform: rotate(0deg);
  }
}

/* * N. 12 */
.ex-12-button:hover .ex-12-top-white {
  animation: rotation_2 2s linear;
  
}

@keyframes rotation_2 {
  0% {
    left: 10%;
  }
  50% {
      left: calc(100% - 60px);
    }
    100% {
      left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: rotation_3 2s linear;
  
}

@keyframes rotation_3 {
  0% {
    right: 10%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 10%;
  }
}

/* * N. 13 */
.ex-13-button:hover .ex-13-top-white {
  animation: rotation_4 2s linear;
  
}

@keyframes rotation_4 {
  0% {
      left: 10%;
      top: -10px;
  }
  30% {
      left: calc(100% - 30px);
      top: -10px;
  }
  45% {
      left: calc(100% - 30px);
      top: 100%;
  }
  75% {
      left: 0;
      top: 100%;
  }
  90% {
      left: -15px;
      top: -10px;
  }
  100% {
      left: 10%;
      top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: rotation_5 2s linear;
  
}

@keyframes rotation_5 {
  0% {
      bottom: -10px;
      right: 20%;
  }
  30% {
      right: calc(100% - 30px);
      bottom: -10px;
  }
  45% {
      right: calc(100% - 30px);
      bottom: 100%;
  }
  75% {
      right: 0;
      bottom: 100%;
  }
  90% {
      right: -15px;
      bottom: -10px;
  }
  100% {
      bottom: -10px;
      right: 20%;
  }
  
}

























































































